@page "/"
@inject IStringLocalizer<App> L

<div class="home-hero">
    <h1>@L["Title"]</h1>
    <p class="lead">@L["Home_Intro"]</p>

    <NavLink class="btn btn-primary btn-lg mt-3" href="/register">
        @L["Register_Button"]
    </NavLink>
</div>